nav{
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grayish-violet);
    font-weight: 700;  

    & .nav-links{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        
    }

    & .login-container{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    & a:hover{
        color: var(--very-dark-violet);
        transition: color 0.3s ease;
    }

    & .sign-up{
        background-color: var(--cyan);
        color: white;
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;
        transition: background-color 0.3s ease;

        &:hover{
            opacity: 0.6;
            color: white;
        }
    }
}

